<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxl.move_recomend_backed.mapper.FavoriteMovieMapper">

    <resultMap id="BaseResultMap" type="com.zxl.move_recomend_backed.Model.pojo.FavoriteMovie">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="movie_id" column="movie_id" jdbcType="INTEGER"/>
            <result property="added_at" column="added_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,movie_id,
        added_at
    </sql>
</mapper>
